# Dependencies
# Ignore node_modules folder in any sub-directory
**/node_modules

# Environment Variables
# Ignore .env files in any sub-directory
**/.env

# Production build folders (optional but recommended)
/frontend/dist
/frontend/.next
/frontend/build
/backend/dist

# Log files
*.log

# System files
.DS_Store